*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.navbar{
    background-color: transparent ;
    transition: .5s;
}
.text-gold{
    color:#FEA116;
}
.bg-gold{
    background-color: #FEA116;
}
nav ul li a{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}
.nav-link.active{
    color:#FEA116 !important;
}
.nav-link:hover{
    color:#FEA116 !important;
}
.nav-link{
    color: #fff;
}
.navbar-brand:hover {
    color:#FEA116;
}
.nav-btn{
    font-size: 15px;
    width: 140px;
}
.nav-btn:hover{
    background-color:#de8d15;
}
.navbar-toggler[aria-expanded="true"]{
    border: 3px solid #c79c60;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.scroll{
    background-color: #0f172B;
}
.landing{
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)),
    url(./image/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
}
.landing img{
    animation: img-rotate 50s linear infinite;
}
@keyframes img-rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.landing .left{
    font-size: 4rem;
}
.landing button{
    height: 50px;
    width: 200px;
}
.service{
    min-height: 400px;
    padding-top: 80px;
}
.myCard{
    width: 250px;
    transition:  1s ease;
    height: 250px;
}
.pop{
    color: #FEA116 ;
}
.myCard:hover .pop{
    color: #fff;
}
.myCard:hover{
    background-color: #FEA116;
    color: #fff ;
}
.Book{
    padding-top: 30px;
    min-height: 500px;
}
.Book .left{
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)),
    url(./image/video.jpg);
    background-position: center ;
}
.date-btn{
    width: 80px;
    height: 80px;
    color: black;
    border-radius: 50%;
    font-size: 30px;
    animation: date  2s linear infinite ;
}
.date-btn:hover{
    background-color: #de8d15;
}
@keyframes date {
    0%{
        box-shadow: 1px 1px 5px #FEA116;
        opacity: .5;
    }
    100%{
        box-shadow: 0px 0px 100px #FEA116;
        opacity: 1;
    }
}
.Book .right{
    background-color: #0f172B;
}
.Book .right h4{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    position: relative;
}
.Book .right h4 span{
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: #FEA116;
}
.Book .right h1{
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #fff;
}
.form-control:focus , .form-select:focus{
    box-shadow: 0px 0px 20px #FEA116;
}
footer{
    background-color: #0f172B;
    min-height: 300px;
    margin-top: 30px;
}
footer h5{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    position: relative;
}
footer h5 span{
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: #FEA116;
}
ul li{
    list-style-type: none;
}